<div class="card my-1 border-dark" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ commission.name }}</h5>
    <p class="card-text">
      Fecha: {{ commission.date }} <span>Folio: {{ commission.foliate_commission }}</span>
    </p>
    <div class="d-flex my-2">

      {% if commission.status == "C" or commission.status == "c" %}
      
      <span class="badge text-bg-info">Creada</span>

      {% elif commission.status == "p" or commission.status == "P" %}
      <span class="badge text-bg-warning">En progreso</span>

      {% elif commission.status == "D" or commission.status == "d" %}

        <span class="badge text-bg-success">Enviada</span>
      {% endif %}

    </div>
    <div class="btn-group d-flex justify-content-end" role="group">
      <a href="?delete={{ commission.id_commissions }}" class="btn btn-danger">Borrar</a>
      <a href="/comision?commission={{ commission.id_commissions }}" class="btn btn-primary">Ver</a>
    </div>
  </div>
</div>
