{% extends 'layout.html' %}

{% block title %}
  {{ title }}
{% endblock %}


{% block main %}

<a href="{{file_path}}">ver doc</a>

  <div class="col">
    <div class="row">
      <h1>Comisión: {{ name }} - Folio: {{ foliate }}</h1>
    </div>
  </div>
<div class="col d-flex justify-content-end">
    <a class="btn btn-info" href="/">Enviar todos</a>
</div>
  <section class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre docente</th>
          <th scope="col">Folio docente</th>
          <th scope="col">Correo principal</th>
          <th scope="col">Correo secundario</th>
          {% comment %} TODO: Agregar las Opciones, no se si con js o en backend {% endcomment %}
          {% comment %} <th scope="col">Opciones</th> {% endcomment %}
        </tr>
      </thead>
      <tbody>
        {% for teache in teachers %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td class="text-nowrap">{{ teacher.name }}</td>
            <td class="text-nowrap">{{ teacher.foliate }}</td>
            <td class="text-nowrap">{{ teacher.email1 }}</td>
            {% if teacher.email2 %}
              <td class="text-nowrap">{{ teacher.email2 }}</td>
            {% else %}
              <td class="text-nowrap"></td>
            {% endif %}
            {% comment %} <td class="text-nowrap">
              <form action="/docentes/" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="text" hidden value="{{ teacher.email1 }}" name="edit" />
                <input class="btn btn-warning" type="submit" value="Editar" />
              </form>
              <form action="/delete" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="text" hidden value="{{ teacher.email1 }}" name="delete" />
                <input class="btn btn-danger" type="submit" value="Eliminar" />
              </form> {% endcomment %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
