<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Estimad@ {{teacher.name}}</p>
    <p>
        Se le hace el envió de su comisión <strong>{{teacher.foliate_teacher}}</strong>.
    </p>

    <p>
        {{ teacher.message }}
    </p>

    <p>Si tiene alguna duda o pregunta contactarse con el departamento de servicios docentes.</p>
    <p>Saludos cordiales</p>

    <p>Favor de responder recibido, también puede configurar para que responda a estos correos.</p>
    <p>Si desea capacitación al respecto, contactar con el creador de la app</p>
    <small>Email enviado de manera automática por <i>codo app</i></small>
</body>
</html>