{% extends "layout.html" %}

{% block title %} {{title}} {% endblock%}

{% block main %}

{% if commissions%}
<div class="row container-fluid ">
    {% for commission in commissions %}
    <div class="col">
        {% include "card_commission.html" with key=commission %}
    </div>
    {% endfor %}
</div>

{% else %}
<div class="row container-fluid ">
    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
        <h2>Sin cargar de comisiones</h2>
        <a id="btn_load_teachers" class="btn btn-block btn-danger me-2" style="text-transform: uppercase;" type="button" href="/docentes" >Carga Docentes</a>
    </div>
</div>

{% endif %}

{% endblock %}