  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Crear nueva carga de comisión</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <label for="name comition">Nombre de la comisión
                <input type="text" placeholder="Comisión de junta de academia">
            </label>
            <label for="folio">Folio:
                <input type="text" placeholder="220">
            </label>
            <label for="date">
                <span>20-02-2024</span>
            </label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Crear</button>
        </div>
      </div>
    </div>
  </div>