<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear nueva carga de comisión</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/comision" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
          <div class="mb-3">
            <label for="name commission" class="form-label">Nombre de la comisión</label>
            <input type="text" class="form-control" id="name commission" name="name-commission" placeholder="Comisión: Junta de academia" required />
          </div>
          <div class="mb-3">
            <label for="folio" class="form-label">Folio:</label>
            <input type="number" class="form-control" id="folio" name="foliate" placeholder="220" style="-webkit-appearance: none;  -moz-appearance: textfield;" pattern="\d*" min="1" required/>
          </div>

          <div class="mb-3">
            <label for="add pdf" class="form-label">Agregar el pdf con todas las comisiones</label>
            <input type="file" class="form-control" required id="add pdf" accept=".pdf" name="add_pdf" />
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <input type="submit" class="btn btn-primary" value="Crear" />
        </div>
      </form>
    </div>
  </div>
</div>
